html,
body {
  text-align: center;
  background-image: url("/images/background_index.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:1.1em;
  
}

.weathercard {
    margin:50px;
    padding:15px; 
    background-image: url("/images/weather.jpg");
    background-repeat: no-repeat;
    background-size: 275%;
    /* border: 1px solid #eee;   */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
    display:inline-block;
    width:200px;
    height:250px;
    border-radius: 10px;
  }

  .bmicard {
    margin:50px;
    padding:15px; 
    background-image: url("/images/bmi.png");
    background-repeat: no-repeat;
    background-size: 250%;
    /* border: 1px solid #eee;   */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
    display:inline-block;
    width:200px;
    height:250px;
    border-radius: 10px;
  }

  
  .calccard{
    margin:50px;
    padding:15px; 
    background-image: url("/images/calculator.jpg");
    background-repeat: no-repeat;
    background-size: 275%;
    /* border: 1px solid #eee;   */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
    display:inline-block;
    width:200px;
    height:250px;
    border-radius: 10px;
  }

  .taskscard{
    margin:50px;
    padding:15px; 
    background-image: url("/images/tasksbg.jpg");
    background-repeat: no-repeat;
    background-size: 275%;
    /* border: 1px solid #eee;   */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
    display:inline-block;
    width:200px;
    height:250px;
    border-radius: 10px;
  }
  
.weathercard:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
    display:inline-block;
    width:200px;
    height:250px;
  }
  .calccard:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
    display:inline-block;
    width:200px;
    height:250px;
  }
  .bmicard:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
    display:inline-block;
    width:200px;
    height:250px;
  }

  .taskscard:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
    display:inline-block;
    width:200px;
    height:250px;
  }

  a{
    text-decoration: none;
    color:black;
    padding: 0;
    margin: 0;
  }


  p{
    margin-top:0px;
  }





